<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Patient and Provider Portal</title>
    <!--<link type="text/css" href="css/redmond/jquery-ui-1.8.10.custom.css" rel="stylesheet" />-->
    <link type="text/css" href="css/main.css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.8.10.custom.min.js"></script>
    <script type="text/javascript">
        $(document).ready (function() {
            $('#miscInfo').load('misc.html');
            $('#btnLogin').click(function () {
                // Make a service layer JSON call to log the user in and retrieve their token
                $.getJSON('http://localhost/KMR2/EMR/data/validateAccount.json', function(data) {
                    // Service call was successful, check the return status to continue
                    data=data.validateAccountFact;
                    if (data.successStatus=="true")
                        window.location.replace('emr.html?token='+data.token+'&userId='+data.userId);
                    else {
                        $('#loginMessage').html(data.message);
                    }
                })
                .error(function() { $('#loginMessage').html('An error occurred validating account'); });
            });

        });

    </script>
</head>
<body>
<div id="container">
    <div id="loginHeader">
        <div id="portalLogo"><img src="images/logo.png"/></div>
        <div id="loginLinks"><a href="">Contact</a></div>
    </div>
    <!-- Area below the header used for logging in -->
    <div id="authArea">
        <div id="authWrap">
            <div id="auth">
                <div style="font-size:24px;font-weight:bold;">Your Medical Records Online</div>
                <div style="">For Patients and Providers</div>

                <form>
                <table class="tblCenter">
                    <tr><td style="text-align:right;"><label for="userName">Username&nbsp;</label></td><td><input id="userName" size="20"/></td><td></td></tr>
                    <tr><td style="text-align:right;"><label for="userPass">Password&nbsp;</label></td><td><input id="userPass" size="20"/></td><td></td></tr>
                    <tr><td colspan="2" style="text-align:center">or</td><td><label><input id="btnLogin" type="button" value="Login"/></label></td></tr>
                    <tr><td style="text-align:right;"><label for="userCAC">CAC&nbsp;</label></td><td><input id="userCAC" type="text" size="10"/>?</td><td></td></tr>
                    <tr><td colspan="3">&nbsp;<div id="loginMessage"></div></td> </tr>
                </table>
                </form>

            </div>
            <div id="authPic"><img src="images/authBack.jpg"/></div>
        </div>
    </div>
<!--
    <div id="authBand">
        <div id="auth">
            <table style="border-collapse:collapse; padding:0;margin:auto;">
                <tr>
                    <td style="vertical-align:middle;text-align:center">
                        <div style="font-size:24px;font-weight:bold;">Your Medical Records Online</div>
                        <div style="">For Patients and Providers</div>
                        <div>
                            <form>
                            <table border="1">
                                <tr><td><label for="userName">Username&nbsp;</label></td><td><input id="userName" size="20"/></td><td></td></tr>
                                <tr><td><label for="userPass">Password&nbsp;</label></td><td><input id="userPass" size="20"/></td><td></td></tr>
                                <tr><td colspan="2" style="text-align:center">or</td><td><label><input id="btnLogin" type="button" value="Login"/></label></td></tr>
                                <tr><td><label for="userCAC">CAC&nbsp;</label></td><td style="text-align:left;"><input id="userCAC" type="text" size="10"/>?</td><td></td></tr>
                                <tr><td colspan="3">&nbsp;<div id="loginMessage"></div></td> </tr>
                            </table>
                            </form>
                        </div>
                        <div style="text-align:center;"><a href="#"><strong>Create an account</strong></a></div>
                        <div style="text-align:center;"><a href="#">Forgot your password?</a></div>
                    </td>
                    <td><img src="images/authBack.jpg"/></td>
                </tr>
            </table>
        </div>
    </div>
-->

    <div id="miscInfo"></div>
</div>
</body>
</html>

